/* add a  style to the title */
h1{
    text-align: center;
    font-style: italic;
    
    
}
 /* add a background style */
body{
    background-image: url('f.jpg');
    background-size: cover;
    background-position: center;
}